<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Product List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Product Code</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pList:${list}>
            <td th:text=${pList.id}></td>
            <td th:text=${pList.pName}></td>
            <td th:text=${pList.pCode}></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>