<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <style>
        .hh {
            width: 5%;


        }

        .container {
            background-color: chartreuse;
            margin: 0 auto;
            width: 50%;
            height: 70%;
            padding: 40px;
        }
        .exitMsg{
            color: red;
        }


    </style>
</head>
<body>
<div class="container">
<span th:text="${RoleMsgEdit}"></span>
    <span th:text="${exitMsg}"></span>
<form th:action="@{/editrole/} + ${id}" th:object="${userRole}" th:method="POST">
  <table>
      <input type="hidden" th:field="*{id}" />
      <tr>
          <td>Name</td>
          <td>
              <input type="text" th:field="*{roleName}"/>
          </td>
          <td class="exitMsg" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Role Name Error</td>

      </tr>
      <tr>
          <td>
              <button type="submit">SaveRole</button>
          </td>
      </tr>
  </table>
</form>


<a th:href="@{/}" class="btn btn-info">Home</a>
<a th:href="@{/viewrole}"  class="btn btn-info">viewrole</a>
</div>
</body>
</html>