<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <a th:href="@{/addrole}" class="btn btn-info">New Student Add</a>
    <form>
        <table class="table table-hover table-striped">
            <tr  class="table-primary">
                <th>Id</th>
                <th>UserRole</th>
                <th>EditRole</th>
                <th>DeleteRole</th>

            </tr>
            <tr th:each="ur: ${list}">

                <td th:text="${ur.id}"></td>
                <td th:text="${ur.roleName}"></td>

                <td>
                    <a th:href="@{'/editrole/'+${ur.id}}" class="btn btn-info">EditRole</a>
                </td>
                <td>
                    <a th:href="@{'/delrole/'+${ur.id}}" class="btn btn-info">DeleteRole</a>
                </td>


            </tr>
        </table>
    </form>
    <a th:href="@{/}"  class="btn btn-info">Home</a>
    <a th:href="@{/addrole}"  class="btn btn-info">addrole</a>
</div>
</body>
</html>