<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">
    <section class="container mt-4 mb-4">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="d-flex flex-row border rounded">
                        <div class="p-0 w-25">
                            <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg" class="img-thumbnail border-0" height="100" width="200" />

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
</body>
</html>