<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="stu" class="com.beskilled.Student">
    <constructor-arg value="100"></constructor-arg>
    <constructor-arg value="Mostafizur"></constructor-arg>
    <constructor-arg value="mosta@gmail.com"></constructor-arg>
</bean>
    <bean id="stuAdd" class="com.beskilled.Address">
        <constructor-arg value="101"></constructor-arg>
        <constructor-arg value="Mirpur"></constructor-arg>
        <constructor-arg value="Bangladesh"></constructor-arg>
        <constructor-arg>
            <ref bean="stu"></ref>
        </constructor-arg>
    </bean>
    <bean id="stuDep" class="com.beskilled.Depatment">
        <constructor-arg value="201"></constructor-arg>
        <constructor-arg value="Marketing"></constructor-arg>

        <constructor-arg>
            <ref bean="stuAdd"></ref>
        </constructor-arg>
    </bean>
</beans>