<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/add}" th:object="${student}" th:method="POST">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}"/>
                <label th:if="${#fields.hasErrors('name')}"  th:errors="*{name}">Error in Last Name</label>
            </td>

        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>


</body>
</html>