<!DOCTYPE html>



<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div><h2>Add Student</h2></div>
        <div><form th:object="${student}" th:action="@{/student/add}" th:method="POST">
                <div> 
                    <label for="addname">Name</label>
                    <input th:field="*{name}" type="text" id="addname" placeholder="Enter Name....."/>
                </div>
                <div> 
                    <label for="addemail">Email</label>
                    <input th:field="*{email}" type="email" id="addemail" placeholder="Enter Email..."/>
                </div>
                  <div> 
                      <button type="submit" value="Submit">submit</button>
                </div>
            </form></div>
    </body>
</html>
