<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text="${exitMsg}"></span>
<span th:text="${RoleMsg}"></span>
<form th:action="@{/addrole}" th:object="${userRole}" th:method="POST">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{roleName}"/>
            </td>
            <td th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Role Name Error</td>

        </tr>
        <tr>
            <td>
                <button type="submit">SaveRole</button>
            </td>
        </tr>
    </table>
</form>


<a th:href="@{/}">Home</a>
<a th:href="@{/viewrole}">viewrole</a>

</body>
</html>