<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>


<div class="table-responsive">
    <h3><a th:href="@{/add}">New Student Add</a></h3>
    <table class="table table-hover table-striped">
            <tr  class="table-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Round</th>
                <th>Subject</th>
                <th>Gender</th>
                <th>Regedate</th>
                <th>LastMdifiy</th>
                <th>BirthDay</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Photo</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
            <tr th:each="u: ${list}">

                <td th:text="${u.id}"></td>
                <td th:text="${u.name}"></td>
                <td th:text="${u.age}"></td>

                <td th:text="${u.phone}"></td>

                <td th:text="${u.email}"></td>
                <td th:text="${u.round}"></td>
                <td>
                <span th:each="s:${u.subject}">
                    <span th:text="${s}"></span>
                </span>
                </td>
                <td th:text="${u.gender}"></td>
                <td th:text="${u.regDate}"></td>
                <td th:text="${u.lastModifi}"></td>
                <td th:text="${u.birthday}" th:pattern="yyyy-MM-dd"></td>
                <td th:text="${u.userName}"></td>
                <td th:text="${u.password}"></td>
                <td><img th:src="@{${u.getFilePath()}}" width="100" height="100"></td>
                <td>
                    <a th:href="@{'/edit/'+${u.id}}">Edit</a>
                </td>
                <td>
                    <a th:href="@{'/del/'+${u.id}}">Delete</a>
                </td>


            </tr>
        </table>

    <a th:href="@{/addrole}">addrole</a>
    <a th:href="@{/viewrole}">viewrole</a>
</div>
</body>
</html>